@model ShootingRange.Models.Guns

@{
    ViewData["Title"] = "Edit";
}
<html>
<head>
    <meta charset="UTF-8">
    <title>Shooting Range</title>
    <style>
        /* General styles */
        body {
            background-image: url('/images/background3.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }



        /* Menu styles */
        .menu {
            background: linear-gradient(135deg, #3C1053, #1F1C2C,#213b2e);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
        }

            .menu a {
                color: #888;
                text-decoration: none;
                padding: 0.5rem;
                margin: 0.5rem;
                border: none;
                border-radius: 5px;
                background-color: #633974;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                transition: background-color 0.2s;
            }

                .menu a:hover {
                    background-color: #8E44AD;
                }
        /* Login form styles */
        .login-form {
            background-color: #444;
            padding: 1rem;
            color: #fff;
            text-align: right;
        }

            .login-form input[type="text"],
            .login-form input[type="password"] {
                background-color: #fff;
                border: none;
                border-radius: 5px;
                padding: 0.5rem;
                color: #333;
                margin-bottom: 1rem;
                width: 150px;
            }

            .login-form input[type="submit"] {
                background-color: #fff;
                border: none;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                color: #333;
                margin-left: 1rem;
                cursor: pointer;
            }

        .forms-container {
            background-color: rgba(0, 0, 0, 0.7);
            color: #fff;
            text-align: center;
            padding: 2rem;
            margin-top: 2rem;
        }

            .forms-container td, th {
                margin-bottom: 1rem;
                color: #fff;
            }

        .forms-btn {
            background-color: #fff;
            color: #444;
            padding: 0.25rem 1rem;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            transition: all 0.2s ease;
            display: inline-block;
        }


            .forms-btn:hover {
                background-color: #444;
                color: #fff;
                cursor: pointer;
            }


        .footer {
            background: linear-gradient(135deg, #3C1053, #1F1C2C,#213b2e);
            color: #fff;
            text-align: center;
            padding: 0.5rem;
            font-size: 0.8rem;
        }
    </style>
</head>
<body>
    <div class="forms-container">
<h1>Edycja</h1>

<h4>Bronie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <input asp-for="Type" class="form-control" type="text" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" type="text" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" type="text" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProductionDate" class="control-label"></label>
                        <input asp-for="ProductionDate" class="form-control" type="date" />
                        <span asp-validation-for="ProductionDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SerialNumber" class="control-label"></label>
                        <input asp-for="SerialNumber" class="form-control" />
                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ManufacturerId" class="control-label">Nazwa Producenta</label>
                        <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.Manufacturers">
                            <option value="">Wybierz...</option>
                        </select>
                        <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                    </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
            <a asp-action="Index">Wróć</a>
</div>
</div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
